<!doctype html>
<html {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('vendor/@inventis/ckeditor5-builds/build/styles.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('vendor/grapesjs/dist/css/grapes.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('vendor/@inventis/webadmin-styleguide-dist/default/styles/main.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body
        class="body -{{ app.environment }}"
        data-locale="{{ app.request.attributes.get('_locale') }}"
        data-enable-brick-debugging="{% if enable_brick_debugging %}1{% else %}0{% endif %}"
    >
        {{ brick|raw }}

        <!--
        <script type="text/javascript" nonce="{{ csp_nonce('script') }}>
            var CKEDITOR_BASEPATH = "{{ asset('vendor/ckeditor/') }}";
        </script>
        -->

        <script type="text/javascript" data-main="{{ asset('js/Main.js') }}" src="{{ asset('vendor/requirejs/require.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/inventisbricks/js/builder-debug.js') }}"></script>
    </body>
</html>
